<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woodenson</title>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>

<body>
    
    <div id="contenido">
        <div id="contenedor-titulo">
            <h1 id="titulo">Tu Aliado de Negocio</h1>
        </div>
        <div id="contenedor-informacion">
            <div id="contenido-informacion">
                <h2 id="subtitulo">Experiencia que Trasciende</h2>
                <div id="informacion">
                    <p>Somos una empresa mexicana líder en Soluciones TI con más de 12 años de experiencia en potenciar el valor de nuestros clientes apoyandolos en el desafío constante de la innovación y transformación digital, ofreciendo soluciones integrales para cada una de sus necesidades.</p>
                </div>
            </div>
            <div id="img-contenedor">
                <img src="~/Media/negocio.webp" id="img-contenido" alt="imagen contenido">
                
            </div>
        </div>
    </div>
</body>

</html>