<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woodenson</title>
    <link rel="stylesheet" href="~/css/Service.css" asp-append-version="true" />
</head>

<body>
    
    <div id="contenido">
        <div id="contenedor-titulo">
            <h1 id="titulo"></h1>
        </div>
        <div id="contenedor-informacion">
            <h2 id="titulo-informacion">Nuestros Servicios</h2>
            <div id="servicios-contenedor">
                <div class="servicio">
                    <h3 class="titulo-servicio">Creacion de Paginas Web</h3>
                    <p class="informacion-servicio">Ofrecemos un amplio conjunto de servicios diseñados para ayudar a nuestros clientes a establecer una presencia efectiva en línea y alcanzar sus objetivos comerciales.</p>
                    <img src="~/Media/creacion paginas.jpg" id="img-servicio" alt="">
                </div>
                <div class="servicio">
                    <h3 class="titulo-servicio">Instalacion de Redes</h3>
                    <p class="informacion-servicio">Ofrecemos una gama completa de servicios diseñados para satisfacer las necesidades de conectividad y comunicación de nuestros clientes.</p>
                    <img src="~/Media/redes.png" id="img-servicio" alt="">
                </div>
                <div class="servicio">
                    <h3 class="titulo-servicio">Asesoramiento de Ciberseguridad</h3>
                    <p class="informacion-servicio">Nuestro enfoque principal es ayudar a nuestros clientes a proteger sus activos digitales y mantenerse seguros en un entorno cada vez más digital y amenazante.</p>
                    <img src="~/Media/ciberseguirad.jpg" id="img-servicio" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>