<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woodenson</title>
    <link rel="stylesheet" href="~/css/Us.css" asp-append-version="true" />
</head>

<body>
    
    <div id="contenido">
        <div id="contenedor-titulo">
            <h1 id="titulo">Nosotros</h1>
        </div>
        <div id="contenedor-informacion">
            <h2 class="subtitulo-informacion">Quienes Somos?</h2>
            <p class="parrafo-informacion">Somos una empresa mexicana líder en Soluciones TI con más de 12 años de experiencia en potenciar el valor de nuestros clientes apoyandolos en el desafío constante de la innovación y transformación digital, ofreciendo soluciones integrales para cada una de sus necesidades.</p>
            <h2 class="subtitulo-informacion">Mision</h2>
            <p class="parrafo-informacion">Proporcionar las tecnologías más innovadoras a medida de las necesidades empresariales, con el objetivo de incrementar su competitividad y productividad. Para ello implementamos soluciones prácticas adaptadas a sus necesidades y desarrollamos nuevas soluciones creativas. Nuestra base parte del aprovechamiento de las nuevas redes.</p>
            <h2 class="subtitulo-informacion">Vision</h2>
            <p class="parrafo-informacion">Queremos estar comprometidos con los problemas de nuestros clientes de forma transparente y eficaz para convertirnos en su socio de confianza. En nuestra visión queremos ser una empresa de referencia, que camina con el cambio de la tecnología y la sociedad, dando a conocer las posibilidades de los estándares y tecnologías libres. Esta labor se debe desempeñar de forma ética y satisfactoria para nosotros, nuestros clientes y el resto de la sociedad.</p>
        </div>
    </div>
</body>

</html>